{% extends 'base.html'%}

{% block title %} - Generic {% endblock title %}

{% block content %}
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>About me</h2>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

								<p>Hey there! I am Tay Pin, a Data Analyst with SAS institute and an aspiring machine learning engineer.</p>

								<p>I code mainly in python and the base SAS language and I enjoy working on new datasets and trying out new analytics methodologies.</p>

								<p>Back in 2018, I took leave of absence from my undergrad studies to spend a short stint in Sydney with the Mobike Australian Launch Team.
									 There, I discovered the potential and availability of data and the experience sowed a seed of curiousity and interest in analytics.
									 Upon my return to Singapore, i decided to pursue this interest further.
									 I enrolled in external courses and took analytics modules unrelated to my degree.
									 Extremely encouraging proffessors such as Dr Zhao YiBao, Dr Tan Kar way and Dr Daniel Zheng have also helped to cement this interest.</p>

								<p>Today, I have committed to spending at least an hour each day on my passion projects although I often lose track of time resolving a bug or trying out a new technique.
									 I also enjoy solving challenges on Codility when i need a break from excessive data cleaning.
									 This blog is created to share some of my builds, projects and occasionally, opinions. </p>

								<p>Away from my computer, scripts and datasets, I am also an avid Formula 1 Fan. I find the 2021 concept cars absolutely gorgeous and I hope to see Max Verstappen win the Driver's Championship!#YesBoys #RedbullRacing
									 (Yes, I also find the way teams analyze streaming data for in-race predictions and decisions making extrememly intriguing but unfortunately, I don't have access to detailed datasets so I just focus on enjoying the race!)</p>

								<p>You can check out my LinkedIn profile here, or one of my articles through the navigation button on the top right corner of the page!
									 Also feel free to reach out to me if you would like to exchange ideas or collaboration opportunities!</p>

									<h3 class="major">Current Area of interest</h3>
									<ul>
										<li>Bayesian belief network in fraud detection </li>
										<li>Semi-supervised methods on partially labelled datasets</li>
										<li>Anomaly detection on imbalanced classes </li>
									</ul>
									<i>Updated: Feb 2020 </i>

									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>

								</div>
							</div>

					</section>

{% endblock content %}
